@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    overflow-x: hidden;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.videoDiv{
    box-shadow: 
    0.75rem 0.75rem white; /* White shadow on bottom and right */
}


.codeblock1, .codeblock2 {
    border-radius: 100%;
    -webkit-filter: blur(34px);
    filter: blur(34px);
    height: 257.05px;
    left: calc(50% - 263.005px);
    opacity: .2;
    top: calc(50% - 175.995px);
    -webkit-transform: matrix(1, 0, -.03, 1, 0, 0);
    transform: matrix(1, 0, -.03, 1, 0, 0);
    width: 372.95px;
}
.codeblock1{
    background: linear-gradient(123.77deg, #8a2be2 -6.46%, orange 59.04%, #f8f8ff 124.53%);
}
.codeblock2{

    background: linear-gradient(118.19deg, #1fa2ff -3.62%, #12d8fa 50.44%, #a6ffcb 104.51%);
}
.code-border {
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right bottom, #ffffff38, #ffffff00);
}
.homepage_bg{
    background:url('./assets/Images/bghome.svg');
}
.timeline-section-circle {
    
    height: 700px; 
    width: 700px; 
    border-radius: 50%;
    background: radial-gradient(circle, #3b82f6 20%, rgba(59, 130, 246, 0) 70%);
}
.video-circle {
    
    height: 550px; 
    width: 450px; 
    border-radius: 50%;
    background: radial-gradient(circle, #3b82f6 20%, rgba(59, 130, 246, 0) 70%);
}

.instructor-image{
    box-shadow: -1rem -1rem 0px 0px white;
}
@media screen and (max-width: 770px){
    .videoDiv{
        box-shadow: 
        0.5rem 0.5rem white; /* White shadow on bottom and right */
    }
    .instructor-image{
        box-shadow: -0.8rem -0.8rem 0px 0px white;
    }
}
@media screen and (max-width: 430px){
    .videoDiv{
        box-shadow: 
        0.35rem 0.35rem white; /* White shadow on bottom and right */
    }
    .instructor-image{
        box-shadow: -0.5rem -0.5rem 0px 0px white;
    }
}
@media screen and (max-width: 330px){
    .videoDiv{
        box-shadow: 
        0.15rem 0.15rem white; /* White shadow on bottom and right */
    }
    .instructor-image{
        box-shadow: -0.4rem -0.4rem 0px 0px white;
    }
}
.course-selected-shadow{
    box-shadow: 12px 12px 0px 0px #FFD60A;
}

/* For hiding the default eye symbol */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}
  .spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%,#474bff);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
    animation: spinner-zp9dbg 1s infinite linear;
 }
 
 @keyframes spinner-zp9dbg {
    to {
       transform: rotate(1turn);
    }
 }


 .inputOutline {
    outline: none; /* Remove the default focus outline */
}

.inputOutline:focus {
    border: 1px solid yellow; /* Apply a yellow border when focused */
}













